.serverbtn{
			width:128px;
			height:48px;
			border:0px;
			border-radius:4px;
			font-size:14px;
		}
		#autorestart{
			width:128px;
			height:24px;
			border:1px solid rgba(0,0,0,0.3);
			border-radius:4px;
		}