.serverbtn{
			width:128px;
			height:48px;
			border:0px;
			border-radius:4px;
			font-size:14px;
		}
		.list{
			width:100%;
			text-align:center;
		}
		.download{
			width:128px;
			height:20px;
			color:#FFF;
			background:rgba(0,173,255,0.7);
			border:0px;
			border-radius:4px;
		}
		.download:hover{
			background:rgba(0,173,255,1);
			cursor:pointer;
			color:#FFF;
		}
		#worldname{
			width:128px;
			height:24px;
			border:1px solid rgba(0,0,0,0.3);
			border-radius:4px;
		}
		.create{
			width:64px;
			height:24px;
			color:#FFF;
			background:rgba(0,173,255,0.7);
			border:0px;
			border-radius:4px;
		}
		#type{
			width:128px;
			height:24px;
			border:1px solid rgba(0,0,0,0.3);
			border-radius:4px;
		}
		table tr td input{
            width:80%;
            height:24px;
            border:1px solid rgba(0,0,0,0.3);
            border-radius:4px;
			text-align:center;
        }
		tr{
			height:32px;
		}